@import "variables";
@import "mixins";

.courses {
  margin-top: 80px;
  margin-bottom: 80px;

  &__box {
    margin-top: 64px;

    display: grid;
    grid-template-columns: repeat(auto-fill, 376px);
    justify-content: center;
    gap: 24px;

    &-item {
      display: flex;
      flex-direction: column;
      border: 1px solid $dark-space20;
      border-radius: 12px;
      box-shadow: 2px 2px 20px $dark-space20;
      overflow: hidden;
    }

    &-itemBg {
      height: 173px;
      width: 100%;
      @include bgImage;

      &-business {
        background-image: url(../img/courses-business.jpg);
      }

      &-python {
        background-image: url(../img/courses-python.jpg);
      }

      &-frontend {
        background-image: url(../img/courses-frontend.jpg);
      }
    }

    &-itemInfo {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 32px 24px;

      &Wrap {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
    }

    &-itemTitle {
      flex-grow: 1;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.6px;
    }

    &-itemText {
      margin-top: 16px;
      margin-bottom: 24px;
      font-family: 'OpenSans-Light', sans-serif;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
    }

    &-itemLink {
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;
      color: $ozon-blue100;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.7px;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid $ozon-blue100;
      }
    }
  }
}