@import "variables";

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 124px;

  &__navigation {
    max-width: 520px;
    width: 100%;
  }

  &__navigationList {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
  }

  &__navigationLink {
    position: relative;
    padding: 10px 0;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-decoration: none;
    color: $dark-space;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0;
      content: '.';
      color: transparent;
      background: $dark-space;
      height: 1px;
    }

    &:hover::after {
      width: 100%;
    }

    &::after,
    &::before {
      transition: all .4s;
    }
  }

  &__tagline {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.6px;
  }
}