@import "variables";

.hero {
  display: flex;
  align-items: center;
  height: 708px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 532px;
    color: $white;

  }

  &__title {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 58px;
    line-height: 68px;
    letter-spacing: 1px;
  }

  &__subtitle {
    margin-top: 16px;
    margin-bottom: 32px;
    font-family: OpenSans-Light, sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.6px;
  }

  &--main {
    justify-content: flex-start;
    padding-left: 150px;
    background-image: url(/assets/img/hero-main.jpg);
  }

  &--second {
    justify-content: flex-end;
    padding-right: 206px;
    background-image: url(/assets/img/hero-second.jpg);
  }
}