.topBanner {
  display: flex;
  width: 100%;
  height: 708px;
  background-image: url(/assets/img/top-banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    align-self: center;
    max-width: 550px;
    margin-left: 150px;
    color: #FFFFFF;

  }

  &__title {
    font-family: OpenSans-Bold, sans-serif;
    font-size: 58px;
    line-height: 68px;
    letter-spacing: 1px;
  }

  &__subtitle {
    margin-top: 16px;
    margin-bottom: 32px;
    font-family: OpenSans-Light, sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.6px;
  }

  &__button {
    display: inline-block;
    background: #005BFF;
    border-radius: 8px;
    padding: 22px 27px;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 20px;
    letter-spacing: 0.7px;
    text-decoration: none;
    transition: all .3s ease;

    &:hover {
      background: #004cd7;
    }
  }
}