@import "normalize";
@import "common";
@import "font";
@import "variables";
@import "mixins";
@import "header";
@import "hero";
@import "courses";
@import "advantages";
@import "request";
@import "footer";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

.mainWrapper {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'request'
    'footer';
  grid-template-columns: 1fr;

  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 16px;
  color: $dark-space100;
}

.center {
  padding: 0 calc(50% - 708px);
}

.main {
  grid-area: main;
}
